.login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.login__img.banner{
    display: flex;
    object-fit: cover;
    background-color: rgb(95, 48, 148);
    width: 100%;
    height: 100vh;
    box-shadow:1px 0px 120px #0628c281 ;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.login__img.logo{
    width: auto;
    height: auto;
    object-fit: contain;
    position: absolute;
    z-index: 100;
    top: -20px;
}
.login__container{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.login__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 0;
    padding: 20px;
}
.login__header h2{
    margin-top: 40px;
    margin-bottom: 20px;
}
.login__header p{
    margin: 0;
}
.login__form{
    margin:0;
    margin-top: 40px;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(4,minmax(auto-fit,300px));
    justify-content: center;
    color: white;
    width: 700px;
}
.login__item{
    position:relative;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
.login__item i:last-child{
    cursor: pointer;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
    transform: translateX(95%);
     font-size: 1.2rem;
    
}
.login__item i{
    position: absolute;
    margin-right: 5px;
    top: 30%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2rem;
}


.login_item div{
    position:relative;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
.login__item .list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    
}
.login__item .list li:nth-child(2){
    place-content: end;
    place-items: end;
}

.login__item-label{
    width: 100%;
    margin: 10px;
}
.login__item-input{
    width: 600px;
    height: 3rem;
    border-radius: 10px;
    background-color: #0003;
    border-color: #0dc1f8;
    margin: 0;
    color: #fff;
    font-size: 20px;
    padding-left: 50px;
    margin-bottom: 40px;
}

.login__button{
    display: flex;
    padding: 0.8rem 1.2em;
    width: 100%;
    background-color: #9e27df;
    font-weight: bold;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    border: 1px solid #8c00d8;
    transition: border-color 0.2s;
    border-radius: 10px;
    margin-bottom: 40px;
}
.login__button:hover{
    background-color: #8c00d8;
    color: #fff;
    border: 1px solid rgb(35, 174, 255);
}
.login__recuperar{
    display: flex;
    margin-bottom: 40px;
    color: rgb(35, 174, 255);
    font-size: 16px;
    transition: color 0.2s;
}

.login__recuperar:hover{
    color: rgb(138, 35, 255);
}

.login__item .list{
    display: flex;
    align-items: end;
}

@media (max-width: 1200px) {
    .login__header{
        width: 600px;
        font-size: 0.9rem;
    }
    .login__form{
        width: 600px;
    }
    .login__item-input{
        width: 500px;
        font-size: 0.9rem;
    }
    .login__recuperar{
        font-size: 0.9rem;
    }
}

@media (max-width: 960px) {
    .login__header{
        width: 500px;
        font-size: 0.9rem;
        margin: 0 30px;
    }
    .login__item i{
        font-size: 1rem;
        top: 25%;
    }
    .login__item i:last-child{
        font-size: 1rem;
        top: 14%;
    }
    .login__form{
        width: 500px;
        text-justify: auto;
    }
    .login__item-input{
        width: 500px;
        font-size: 0.7rem;
        height: 30px;
    }
    
    .login__recuperar{
        font-size: 0.7rem;
    }
    .login__button{
            font-size: 0.7rem;
    }
}
@media (max-width: 768px) {
    .login__header{
        width: 700px;
        font-size: 1rem;
        margin: 0 20px;
    }
    .login__form{
        width: 700px;
        text-justify: auto;
    }
    .login__item-input{
        width: 700px;
        font-size: 0.7rem;
        height: 30px;
    }
    .login__recuperar{
        font-size: 0.7rem;
    }
    .login__button{
            font-size: 0.7rem;
    }
    .login__img.banner{
        display: none;
    }
    .login{
            display: grid;
            grid-template-columns: 1fr;
    }
}

.age-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.age-popup-content span{
    color: #cf2020;
}

.age-popup-content {
    background: rgba(26, 24, 24, 0.678);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
}

.age-popup h2 {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
    gap: 20px;
}

.accept {
    background-color: rgba(130, 5, 202, 0.815);
    color: rgb(252, 252, 252);
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.deny {
    background-color: rgba(163, 11, 11, 0.815);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

/* Efecto de desenfoque en la página cuando el popup está activo */
.blurred {
    filter: blur(5px);
    pointer-events: none;
}

@media (max-width: 576px) {
    .login{
        margin: 20px;
    }
    .login__header{
        width: 500px;
        font-size: 1rem;
        margin: 0 20px;
    }
    .login__form{
        width: 420px;
        text-justify: auto;
    }
    .login__item-input{
        width: 450px;
        font-size: 0.7rem;
        height: 30px;
    }
    .login__recuperar{
        font-size: 0.7rem;
    }
    .login__button{
            font-size: 0.7rem;
    }
    .login__img.banner{
        display: none;
    }
    .login{
            display: grid;
            grid-template-columns: 1fr;
    }
}
@media (max-width: 430px) {
    .login__header{
        width: 340px;
        font-size: 0.7rem;
        margin: 0 auto;
    }
    .login__form{
        width: 340px;
        text-justify: auto;
    }
    .login__item-input{
        width: 340px;
        font-size: 0.7rem;
        height: 30px;
    }
    .login__recuperar{
        font-size: 0.7rem;
    }
    .login__img.banner{
        display: none;
    }
    .login{
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            padding: 2px;
    }
    .login__button{
            font-size: 0.7rem;
    }
}

@media (max-width: 376px) {
    .login__header{
        width: 340px;
        font-size: 0.5rem;
    }
    .login__form{
        width: 340px;
        padding: 10px;
        margin: 10px;
    }
    .login__form i{
        font-size: 0.8rem;
    }
    .login__item-input{
        width: 320px;
        font-size: 0.7rem;
        height: 30px;
    }
    .login__item i:last-child{
        font-size: 1rem;
        top: 14%;
    }
    .login__recuperar{
        font-size: 0.7rem;
    }
    .login__img.banner{
        display: none;
    }
    .login{
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            padding: 2px;         
        }
    .login__button{
        font-size: 0.7rem;
    }
}