.agendauser{
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    padding-left: 7rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #080808cb, #201752c5);
}
.agendauser__container{
    display: flex;
    margin-top: 40px;
    width: 100%;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #102e91cb, #267fa8c5);
    padding: 0 40px;
    border-radius: 20px 20px 0 0;
}
.agendauser__container-titles{
    display: flex;
    gap: 20px;
}

.agendauser__container-content{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.agendauser__container-content ul li{
    display: flex;
    flex-direction: row;
    width: 1200px;
    gap: 10px;
    border-bottom: 1px solid #fff;

}
.agendauser__container-content ul{
    padding: 0;
}
.agendauser__container-content h2{
    font-size: 1rem;
    font-weight: 100;
}
.agendauser__container-title{
    border-bottom: 4px;
    position:relative;
}
.agendauser__container-title::after {
    content: "";
    position: absolute;
    left: 50%; 
    bottom: 0;
    width: 0; 
    height: 4px; 
    background-color: #1bcbd8; 
    transition: width 0.3s ease, left 0.3s ease; 
    transform: translateX(-0%); 
}
  .agendauser__container-title:hover::after {
    width: 100%; 
    left: 0;
  }