.perfilUser{
    display:flex;
    background-image: linear-gradient(to bottom, #080808cb, #201752c5);
    width: 500px;
    min-height: 100vh;
}
.perfilUser__container{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 20px;
}
.perfilUser__icon {
    width: 48px;
    height: 48px;
    border: 2px solid #7700ff;
    border-radius: 50%;
    background-color: transparent; /* Fondo transparente */
    box-shadow: 
        0 0 5px #8a2be2, /* Sombra base */
        0 0 10px #8a2be2, /* Sombra intermedia */
        0 0 20px #8a2be2, /* Sombra exterior */
        0 0 40px #8a2be2, /* Sombra más amplia */
        0 0 80px #8a2be2; /* Sombra más difuminada */
    animation: neonBreathing 2s infinite ease-in-out; /* Animación de respiración */
}

@keyframes neonBreathing {
    0%, 100% {
        box-shadow: 
            0 0 1px #8a2be2,
            0 0 5px #8a2be2,
            0 0 15px #8a2be2,
            0 0 20px #8a2be2,
            0 0 40px #8a2be2;
    }
    50% {
        box-shadow: 
            0 0 10px #8a2be2,
            0 0 20px #8a2be2,
            0 0 40px #8a2be2,
            0 0 80px #8a2be2,
            0 0 120px #8a2be2; /* Efecto de respiración más intenso */
    }
}
.perfilUser__icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 1px;
}
.perfilUser__info{
    display: flex;
    width: 100px;
    height: 50px;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 10px;
    font-size: 0.4rem;
    padding: 2px;
}
.perfilUser__info-username{
    font-size: 0.7rem;
    font-weight: 900;
}
.perfilUser__info-apodo{
    font-weight: 100;
    margin-top: -8px;
}

@media (max-width: 1200px) {
    .perfilUser{
        min-width: 100px;
    }
}
@media (max-width: 960px) {
    .perfilUser{
        width: 50px;
        font-size: 1px;
    }
    .perfilUser__info h2{
        display: none;
    }
}
@media (max-width: 768px) {
    .perfilUser{
        width: 50px;
    }
    .perfilUser__info h2{
        display: none;
    }
}
@media (max-width: 500px) {
    .perfilUser{
        display: none;
    }
    .perfilUser__info h2{
        display: none;
    }
}