.register{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    min-height: 100vh;
    margin: 0;
}
.register__container{
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.register__form{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;    
}


.register__button{
    background-color: rgb(33, 141, 190);
    border: 1px solid #a7137a;
    width: 100%;
    padding: 0.7rem;
    margin:0;
    font-family: inherit;
    font-weight: bold;
    border-radius: 6px;
}

.register_container-title{
    display: flex;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 20px;
}

.register_container-title h2{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.content-register{
    width: 100%;
    height: 100%;
    box-shadow:10px 0px 140px #5312a8 ;
    background-color: rgb(95, 48, 148);
    padding: 0;
    margin: 0;
}
.imagen-register{
    width: 100%;
    height: 100vh;
}
.imagen-register img{
    width: 100%;
    height: 100vh;
    z-index: 100;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.register__form div i:last-child{
    margin-right: 10px;
    right: 0;
    transform: translateX(95%);
    cursor: pointer;
    top: 20%;
}
.register__form i{
    position: absolute;
    margin-right: 5px;
    top: 30%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2rem;
}
.register__form div{
    position:relative;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.register__item-input{
    padding: 10px 10px 0px 40px;
    display: flex;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    background-color: #0003; 
    border-color: aqua;
    margin: 0;
    color: #fff;
    font-size: 16px;
    margin-bottom: 40px;
}

.register__item-input.is-invalid{
    outline-color: rgb(226, 43, 43);
    border-color: #cf2020;
}

.register__item-input.valid{
    outline-color: blueviolet;
    border-color: aqua;
}

.content-register div p{
    margin-top: 600px;
}
.age-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.age-popup-content {
    background: rgba(26, 24, 24, 0.678);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
}
.age-popup-content span{
    color: #cf2020;
}

.age-popup h2 {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
    gap: 20px;
}

.accept {
    background-color: rgba(163, 11, 11, 0.815);
    color: rgb(252, 252, 252);
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.deny {
    background-color: rgba(93, 21, 141, 0.705);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

/* Efecto de desenfoque en la página cuando el popup está activo */
.blurred {
    filter: blur(5px);
    pointer-events: none;
}

@media (max-width: 1200px) {
    .register_container-title{
        font-size: 0.8rem;
    }
    .register__item-input{
        height: 30px;
    }
}

@media (max-width: 960px) {
    .register_container-title{
        font-size: 0.8rem;
    }
    .register__item-input{
        height: 30px;
    }
}
@media (max-width: 768px) {
    .register_container-title{
        font-size: 0.8rem;
    }
    .register__item-input{
        height: 30px;
    }
    .register{
        display: grid;
        grid-template-columns: 1fr;
    }
    .imagen-register{
        display: none;
    }

}

@media (max-width: 576px) {
    .register_container-title{
        font-size: 0.8rem;
    }
    .register__item-input{
        height: 30px;
    }
    .register{
        display: grid;
        grid-template-columns: 1fr;
    }
    .imagen-register{
        display: none;
    }
}
@media (max-width: 430px) {
    .register_container-title{
        font-size: 0.8rem;
    }
    .register__item-input{
        height: 30px;
    }
    .register{
        display: grid;
        grid-template-columns: 1fr;
    }
    .imagen-register{
        display: none;
    }
}

@media (max-width: 376px) {
    .register_container-title{
        font-size: 0.8rem;
    }
    .register__item-input{
        height: 30px;
    }
    .register{
        display: grid;
        grid-template-columns: 1fr;
    }
    .imagen-register{
        display: none;
    }
}