.sidebar{
    display: flex;
    flex-direction: column;
    width: 240px;
    min-height: 100vh;
    border-right: 0.01rem solid #a7137a;
    position: fixed;
    
}

.sidebar-complete{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.sidebar-list-main ul li a{
    padding: 0;
    margin: auto 0;
    font-size: 0.9rem;
    transition: scale 0.2s ease;
}
.sidebar-complete{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sidebar-img img{
    display: flex;
    margin: 0;
    margin-left: 50px;
    width: 80px;
    padding: 0;
}

.sidebar-list-main{
    display: flex;
    width: 100%;
    margin-left: -20px;
}
.sidebar-list-main ul :hover{
    background-color: #000000;
}
.sidebar-list-main ul{
    display: flex;
    flex-direction: column;
    
}
.sidebar-list-main ul li{
    border-radius: 10px;
}
.sidebar-list-main ul li a{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 40px;
    border-radius: 10px;
    padding-left:10px;
    margin: 0;
}
.sidebar-list-main ul li img{
    width: 20px;
    height: 20px;
}
.sidebar-list-settings{
    display: flex;
    margin-top: 200px;
    align-items: end;
    margin-left: -20px;
}
.sidebar-list-settings ul li{
    border-radius: 10px;
}
.sidebar-list-settings ul li a{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    padding-right: 50px;
    border-radius: 10px;
    margin: 0;
}
.sidebar-list-settings ul li img{
    width: 20px;
    height: 20px;
}
.sidebar-list-settings ul li:hover{
    background-color: #000000;
}

.list-main-item {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
}
.list-main-item a{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    text-decoration: none;
}



@media (max-width: 1200px) {
    .sidebar-list-settings{
        margin-top: 60px;
    }
    .sidebar{
        width: 70px;
    }

    .list-main-item p{
        display: none;
    }
    .sidebar-list-main{
        gap: 20px;
    }
    .sidebar-list-main ul li img{
        width: 30px;
        height: 30px;
        margin-left: 0;
    }
    .sidebar-list-main ul li a{
        padding: 5px;
    }
    .sidebar-list-main ul{
        padding: 0;
        margin: 0;
        gap: 30px;
        padding-left: 35px;
    }
    .sidebar-img img{
        display: none;
    }
    .sidebar-complete{
        margin-top: 20px;
    }
    .sidebar-list-main ul li a:hover{
        transform: scale(1.1);
    }
    .sidebar-list-settings ul li img{
        width: 30px;
        height: 30px;
        margin-left: 0;
    }
    .sidebar-list-settings ul {
        padding: 0;
        margin: 0;
        gap: 30px;
        padding-left: 35px;
    }
    .sidebar-list-settings ul li a{
        padding: 5px;
    }


}

@media (max-width: 960px) {
    
}
@media (max-width: 768px) {
    

}

@media (max-width: 576px) {
   
}
@media (max-width: 430px) {
    
}

@media (max-width: 376px) {
    
}