body{
  margin: 0;
  background: #0a0a0a;
  font-weight: bold;
  color: #fff;
  padding: 0;
}
body,div,h2,nav,h1,h3{
  box-sizing: border-box;
}

a,li,ul{
  text-decoration: inherit;
  list-style-type: none;
  color: #fff;
  
}
.container-sid{
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.container{
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.search-container-page{
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
}